/*! © 2017 Hesham Saleh - Erkab Stylesheet.*/
/*! erkab.min.css */

 @import url("font-awesome/css/font-awesome.min.css");
 @import url("micons/micons.css");
 @import url("fonts.css");

 html{
     font-size:10px 
}
 @media only screen and (max-width:1024px){
     html{
         font-size:9.375px 
    }
}
 @media only screen and (max-width:768px){
     html{
         font-size:10px 
    }
}
 @media only screen and (max-width:400px){
     html{
         font-size:9.375px 
    }
}
 html,body{
     height:100% 
}
 body{
     background:#141515;
     font-family:"muli-regular",sans-serif;
     font-size:1.6rem;
     line-height:1.875;
     color:#767676;
     margin:0;
     padding:0 
}
 a,a:visited{
     color:#b7b7b7;
     -webkit-transition:all .3s ease-in-out;
     transition:all .3s ease-in-out 
}
 a:hover,a:focus{
     color:white 
}
 h1,h2,h3,h4,h5,h6{
     font-family:"montserrat-regular",sans-serif;
     color:#000;
     font-style:normal;
     text-rendering:optimizeLegibility;
     margin-bottom:2.4rem 
}
 h3,h4{
     margin-bottom:1.5rem 
}
 h5,h6{
     margin-bottom:1.2rem 
}
 h1{
     font-size:3.1rem;
     line-height:1.35;
     letter-spacing:-.1rem 
}
 @media only screen and (max-width:600px){
     h1{
         font-size:2.6rem;
         letter-spacing:-.07rem 
    }
}
 h2{
     font-size:2.4rem;
     line-height:1.25 
}
 h3{
     font-size:2rem;
     line-height:1.5 
}
 h4{
     font-size:1.7rem;
     line-height:1.76 
}
 h5{
     font-size:1.4rem;
     line-height:1.7;
     text-transform:uppercase;
     letter-spacing:.2rem 
}
 h6{
     font-size:1.3rem;
     line-height:1.85;
     text-transform:uppercase;
     letter-spacing:.2rem 
}
 em,i,strong,b{
     font-size:1.6rem;
     line-height:1.875;
     font-style:normal;
     font-weight:normal 
}
 small{
     font-size:1.1rem;
     line-height:inherit 
}
 abbr{
     font-family:"muli-bold",sans-serif;
     font-variant:small-caps;
     text-transform:lowercase;
     letter-spacing:.05rem;
     color:#838383 
}
 var,kbd,samp,code,pre{
     font-family:Consolas,"Andale Mono",Courier,"Courier New",monospace 
}
 pre{
     padding:2.4rem 3rem 3rem;
     background:#f1f1f1 
}
 code{
     font-size:1.4rem;
     margin:0 .2rem;
     padding:.3rem .6rem;
     white-space:nowrap;
     background:#f1f1f1;
     border:1px solid #e1e1e1;
     border-radius:3px 
}
 del{
     text-decoration:line-through 
}
 mark{
     background:#fff49b;
     color:#000 
}
 hr{
     border:solid rgba(0,0,0,0.1);
     border-width:1px 0 0;
     clear:both;
     margin:1rem 0 1rem;
     height:0 
}
 ol{
     list-style:decimal 
}
 ul{
     list-style:disc 
}
 li{
     display:list-item 
}
 ol,ul{
     margin-left:1.7rem 
}
 ul li{
     padding-left:.4rem 
}
 dt{
     margin:0;
     color:#39b54a 
}
 dd{
     margin:0 0 0 2rem 
}
 button,.button{
     margin-bottom:1.2rem 
}
 fieldset{
     margin-bottom:1.5rem 
}
 input,textarea,select,pre,blockquote,figure,table,p,ul,ol,dl,form{
     margin-bottom:3rem 
}
 table{
     border-width:0;
     width:100%;
     max-width:100%;
     font-family:"muli-regular",sans-serif 
}
 th,td{
     padding:1.5rem 3rem;
     text-align:left;
     border-bottom:1px solid #e8e8e8 
}
 th{
     color:#393953;
     font-family:"montserrat-regular",sans-serif;
     font-size:1.3rem;
     letter-spacing:.1rem 
}
 td{
     line-height:1.5;
     font-size:1.4rem 
}
 th:first-child,td:first-child{
     padding-left:0 
}
 th:last-child,td:last-child{
     padding-right:0 
}
 #preloader{
     position:fixed;
     top:0;
     left:0;
     right:0;
     bottom:0;
     background:linear-gradient(#00a1c5,#05e4e0);
     z-index:800;
     height:100%;
     width:100% 
}
 fieldset{
     border:0 
}
 input[type="email"],input[type="number"],input[type="text"],input[type="tel"],input[type="password"],textarea,select{
     display:block;
     padding:1rem;
     border:0;
     outline:0;
     color:#000;
     height:37.5px;
     width:220px;
     font-family:"muli-regular",sans-serif;
     font-size:1.5rem;
     line-height:3rem;
     max-width:100%;
     background:#f7f7f7;
     -webkit-transition:all .3s ease-in-out;
     transition:all .3s ease-in-out;
     border-radius:15px 
}
 .ss-custom-select select::-ms-expand{
     display:none 
}
 textarea{
     min-height:25rem 
}
 input[type="email"]:focus,input[type="number"]:focus,input[type="text"]:focus,input[type="tel"]:focus,input[type="password"]:focus,textarea:focus,select:focus{
     color:#000 
}
 label,legend{
     font-family:"montserrat-light",sans-serif!important;
     font-size:1.4rem!important;
     margin-bottom:.6rem;
     color:#151515;
     display:block 
}
 input[type="checkbox"],input[type="radio"]{
     display:inline 
}
 label>input[type="radio"]{
     margin:0;
     position:relative;
     top:.15rem 
}
 ::-webkit-input-placeholder{
     color:#838383 
}
 :-moz-placeholder{
     color:#838383 
}
 ::-moz-placeholder{
     color:#838383 
}
 :-ms-input-placeholder{
     color:#838383 
}
 input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus input:-webkit-autofill,textarea:-webkit-autofill,textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,select:-webkit-autofill,select:-webkit-autofill:hover,select:-webkit-autofill:focus{
     border:0;
     -webkit-text-fill-color:#000;
     transition:background-color 5000s ease-in-out 0s 
}
 .button,button{
     display:inline-block;
     font-family:"montserrat-regular",sans-serif;
     font-size:1.8rem;
     height:4rem;
     line-height:calc(5.4rem - .6rem);
     padding:0 3rem;
     margin:0 .3rem 1.2rem 0;
     color:#222;
     text-decoration:none;
     cursor:pointer;
     text-align:center;
     white-space:nowrap;
     border-radius:.5rem;
     -webkit-transition:all .3s ease-in-out;
     transition:all .3s ease-in-out;
     background-color:#c5c5c5;
     border:.3rem solid #c5c5c5 
}
 .button:hover,button:hover,.button:focus,button:focus{
     background-color:#b8b8b8;
     border-color:#b8b8b8;
     color:#000;
     outline:0 
}
 .button.button-primary{
     background-color:#393753;
     border-color:#4e4c6d;
     color:#fff;
     border-radius:15px 
}
 .button.button-primary:hover,.button.button-primary:focus{
     background:#2a2841;
     border-color:#3c3a54 
}
 button::-moz-focus-inner,input::-moz-focus-inner{
     border:0;
     padding:0 
}
 #header{
     width:100%;
     height:72px;
     background-color:#00d0be;
     background:linear-gradient(#00a1c5,#05e4e0);
     position:fixed;
     left:50%;
     -webkit-transform:translateX(-50%);
     -ms-transform:translateX(-50%);
     transform:translateX(-50%);
     z-index:501;
     top:0!important;
     box-shadow:0 1px 2px 0 #000 
}
 .header-logo{
     position:absolute;
     left:40px;
     top:50%;
     -webkit-transform:translateY(-50%);
     -ms-transform:translateY(-50%);
     transform:translateY(-50%);
     -webkit-transition:all 1s ease-in-out;
     transition:all 1s ease-in-out;
     z-index:501 
}
 .header-logo a{
     display:block;
     margin:0;
     padding:0;
     outline:0;
     border:0;
     width:97px;
     height:22px;
     background:url("../images/logo.png") no-repeat center;
     background-size:97px 22px;
     font:0/0 a;
     text-shadow:none;
     color:transparent;
     -webkit-transition:all .5s ease-in-out;
     transition:all .5s ease-in-out 
}
 .header-menu-toggle{
     display:none;
     position:fixed;
     right:32px;
     top:15px;
     height:42px;
     width:42px;
     line-height:42px;
     font-family:"montserrat-regular",sans-serif;
     font-size:1.4rem;
     text-transform:uppercase;
     letter-spacing:.2rem;
     color:rgba(255,255,255,0.5);
     -webkit-transition:all .3s ease-in-out;
     transition:all .3s ease-in-out 
}
 .header-menu-toggle:hover,.header-menu-toggle:focus{
     color:#fff 
}
 .header-menu-toggle span{
     display:block;
     width:24px;
     height:2px;
     margin-top:-1px;
     position:absolute;
     left:9px;
     top:50%;
     right:auto;
     bottom:auto;
     background-color:white;
     -webkit-transition:all .5s ease-in-out;
     transition:all .5s ease-in-out;
     font:0/0 a;
     text-shadow:none;
     color:transparent 
}
 .header-menu-toggle span::before,.header-menu-toggle span::after{
     content:'';
     width:100%;
     height:100%;
     background-color:inherit;
     position:absolute;
     left:0;
     -webkit-transition:all .5s ease-in-out;
     transition:all .5s ease-in-out 
}
 .header-menu-toggle span::before{
     top:-9px 
}
 .header-menu-toggle span::after{
     bottom:-9px 
}
 #header-nav-wrap{
     font-family:"montserrat-regular",sans-serif;
     font-size:15px;
     position:absolute;
     top:0;
     right:40px 
}
 #header-nav-wrap .header-main-nav{
     display:inline-block;
     list-style:none;
     height:72px;
     margin:0 1rem 0 0 
}
 #header-nav-wrap .header-main-nav li{
     display:inline-block;
     padding-left:0;
     margin-right:1.5rem 
}
 #header-nav-wrap .header-main-nav li a{
     display:block;
     line-height:72px 
}
 #header-nav-wrap .header-main-nav li a,#header-nav-wrap .header-main-nav li a:visited{
     color:rgba(255,255,255,0.65) 
}
 #header-nav-wrap .header-main-nav li a:hover,#header-nav-wrap .header-main-nav li a:focus{
     color:#fff 
}
 #header-nav-wrap .header-main-nav li.current a{
     color:#fff 
}
 #header-nav-wrap .cta{
     height:3.6rem;
     line-height:calc(3.6rem - .6rem);
     padding:0 1.5rem;
     font-family:"montserrat-regular",sans-serif;
     font-weight:700;
     font-size:14px;
     text-transform:none;
     letter-spacing:normal;
     margin:0 
}
 @media only screen and (max-width:1230px){
     #header{
         max-width:none 
    }
}
 @media only screen and (max-width:768px){
     .header-logo a{
         width:88px;
         height:20px;
         background-size:88px 20px 
    }
     #header-nav-wrap{
         display:none;
         height:auto;
         width:100%;
         right:auto;
         left:0;
         background-color:#00d0be;
         background:linear-gradient(#00a1c5,#05e4e0);
         padding:80px 40px 40px;
         box-shadow:0 1px 50px 0 #000 
    }
     #header-nav-wrap .header-main-nav{
         display:block;
         height:auto;
         margin:0 0 3rem 0;
         border-top:1px solid rgba(255,255,255,0.03) 
    }
     #header-nav-wrap .header-main-nav li{
         display:block;
         margin:0;
         padding:0;
         border-bottom:1px solid rgba(255,255,255,0.20) 
    }
     #header-nav-wrap .header-main-nav li a{
         padding:18px 0;
         line-height:18px 
    }
     #header-nav-wrap .cta{
         height:42px;
         line-height:calc(42px - .6rem);
         padding:0 30px 
    }
     .header-menu-toggle{
         display:block 
    }
}
 @media only screen and (max-width:600px){
     #header-nav-wrap .cta{
         display:block;
         padding:0 20px 
    }
}
 @media only screen and (max-width:400px){
     .header-menu-toggle{
         right:24px 
    }
}
 @media only screen and (min-width:769px){
     #header-nav-wrap{
         display:block!important 
    }
}
 .badge{
     display:inline-block;
     padding:.25em .4em;
     font-size:75%;
     font-weight:bold;
     line-height:1;
     color:#393753;
     text-align:center;
     white-space:nowrap;
     vertical-align:baseline;
     border-radius:.25rem 
}
 .btn .badge{
     position:relative;
     top:-1px 
}
 .badge-pill{
     padding-right:.6em;
     padding-left:.6em;
     border-radius:10rem 
}
 .badge-warning{
     color:#111;
     background-color:#ffc107 
}
 .btn-group{
     position:relative;
     display:inline-flex;
     vertical-align:middle;
     max-width:100% 
}
 .btn-group>.btn{
     position:relative;
     flex:0 1 auto 
}
 .btn-group>.btn:hover{
     z-index:2 
}
 .btn-group>.btn:focus,.btn-group>.btn:active,.btn-group>.btn.active{
     z-index:2 
}
 .btn-group .btn+.btn{
     margin-left:-1px 
}
 .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle){
     border-radius:0 
}
 .btn-group>.btn:first-child{
     margin-left:0 
}
 .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
     border-top-right-radius:0;
     border-bottom-right-radius:0 
}
 .btn-group>.btn:last-child:not(:first-child){
     border-top-left-radius:0;
     border-bottom-left-radius:0 
}
 [data-toggle="buttons"]>.btn input[type="radio"]{
     position:absolute;
     clip:rect(0,0,0,0);
     pointer-events:none 
}
 .btn{
     display:inline-block;
     font-weight:normal;
     text-align:center;
     white-space:nowrap;
     vertical-align:middle;
     user-select:none;
     border:1px solid transparent;
     line-height:1.25;
     transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     max-width:100%!important 
}
 .btn:focus,.btn:hover{
     text-decoration:none 
}
 .btn:focus{
     outline:0;
     box-shadow:0 0 0 3px rgba(0,123,255,0.25) 
}
 .btn:disabled{
     opacity:.65 
}
 .btn:active,.btn.active{
     background-image:none 
}
 .btn-success{
     color:#fff!important;
     background-color:#28a745;
     border-color:#28a745 
}
 .btn-success:hover{
     color:#fff;
     background-color:#218838;
     border-color:#1e7e34 
}
 .btn-edited{
     color:#fff!important;
     background-color:#03dedd;
     border-color:#00cdbb 
}
 .btn-edited:hover{
     color:#fff;
     background-color:#03bfbe;
     border-color:#03aead 
}
 .btn-edited:focus{
     box-shadow:0 0 0 3px rgba(1,209,190,0.5) 
}
 .btn-edited:disabled{
     background-color:#00d0be;
     border-color:#00cdbb 
}
 .btn-edited:active,.btn-edited.active{
     background-color:#03bfbe;
     background-image:none;
     border-color:#009686 
}
 .btn-outline-warning{
     color:#ffc107;
     background-color:transparent;
     background-image:none;
     border-color:#ffc107 
}
 .btn-outline-warning:hover{
     color:#fff;
     background-color:#ffc107;
     border-color:#ffc107 
}
 .btn-outline-warning:focus{
     box-shadow:0 0 0 3px rgba(255,193,7,0.5) 
}
 .btn-outline-warning:disabled{
     color:#ffc107;
     background-color:transparent 
}
 .btn-outline-warning:active{
     color:#fff;
     background-color:#ffc107;
     border-color:#ffc107 
}
 .btn-outline-danger{
     color:#dc3545;
     background-color:transparent;
     background-image:none;
     border-color:#dc3545 
}
 .btn-outline-danger:hover{
     color:#fff;
     background-color:#dc3545;
     border-color:#dc3545 
}
 .btn-outline-danger:focus{
     box-shadow:0 0 0 3px rgba(220,53,69,0.5) 
}
 .btn-outline-danger:disabled{
     color:#dc3545;
     background-color:transparent 
}
 .btn-outline-danger:active{
     color:#fff;
     background-color:#dc3545;
     border-color:#dc3545 
}
 .btn-danger:active,.btn-danger.active,{
     background-color:#c82333;
     background-image:none;
     border-color:#bd2130 
}
 .btn-lg{
     padding:.5rem 1rem;
     font-size:1.25rem;
     line-height:1.5;
     border-radius:.3rem 
}
 @supports(transform-style:preserve-3d){
     .carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{
         transform:translate3d(0,0,0) 
    }
}
 @supports(transform-style:preserve-3d){
     .carousel-item-next,.active.carousel-item-right{
         transform:translate3d(100%,0,0) 
    }
}
 @supports(transform-style:preserve-3d){
     .carousel-item-prev,.active.carousel-item-left{
         transform:translate3d(-100%,0,0) 
    }
}
 .close{
     float:right;
     font-size:1.5rem;
     font-weight:bold;
     line-height:1;
     color:#000;
     text-shadow:0 1px 0 #fff;
     opacity:.5 
}
 .close:focus,.close:hover{
     color:#000;
     text-decoration:none;
     opacity:.75 
}
 button.close{
     padding:0;
     background:transparent;
     border:0;
     -webkit-appearance:none 
}
 .custom-select:focus::-ms-value{
     color:#495057;
     background-color:#fff 
}
 .custom-select::-ms-expand{
     opacity:0 
}
 .dropdown-toggle::after{
     display:inline-block;
     width:0;
     height:0;
     margin-left:.255em;
     vertical-align:.255em;
     content:"";
     border-top:.3em solid;
     border-right:.3em solid transparent;
     border-left:.3em solid transparent 
}
 .dropdown-menu{
     position:absolute;
     top:100%;
     left:0;
     z-index:1000;
     display:none;
     float:left;
     min-width:10rem;
     padding:.5rem 0;
     margin:.125rem 0 0;
     font-size:1.3rem;
     color:#292b2c;
     text-align:left;
     list-style:none;
     background-color:#fff;
     background-clip:padding-box;
     border:1px solid rgba(0,0,0,0.15);
     border-radius:.25rem 
}
 .form-control{
     display:block;
     width:100%;
     padding:.5rem .75rem;
     font-size:1rem;
     line-height:1.25;
     color:#495057;
     background-color:#fff;
     background-image:none;
     background-clip:padding-box;
     border:1px solid rgba(0,0,0,0.15);
     border-radius:.25rem;
     transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s 
}
 .form-control::-ms-expand{
     background-color:transparent;
     border:0 
}
 .form-control:focus{
     color:#495057;
     background-color:#fff;
     border-color:#80bdff;
     outline:0 
}
 .form-control::placeholder{
     color:#868e96;
     opacity:1 
}
 select.form-control:focus::-ms-value{
     color:#495057;
     background-color:#fff 
}
 body{
     margin:0;
     font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
     font-weight:normal;
     line-height:1.5;
     color:#393753;
     text-align:left;
     background-color:#fff 
}
 [tabindex="-1"]:focus{
     outline:none!important 
}
 hr{
     box-sizing:content-box;
     height:0;
     overflow:visible 
}
 a{
     color:#05e4e0;
     font-weight:500;
     text-decoration:none;
     background-color:transparent;
     -webkit-text-decoration-skip:objects 
}
 a:hover{
     font-weight:bold;
     text-decoration:none;
     color:#393953 
}
 a:not([href]):not([tabindex]){
     color:inherit;
     text-decoration:none 
}
 a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{
     color:inherit;
     text-decoration:none 
}
 a:not([href]):not([tabindex]):focus{
     outline:0 
}
 a,area,button,input,[role="button"],label,select,summary,textarea{
     touch-action:manipulation 
}
 table{
     border-collapse:collapse 
}
 caption{
     padding-top:.75rem;
     padding-bottom:.75rem;
     color:#868e96;
     text-align:left;
     caption-side:bottom 
}
 th{
     text-align:inherit 
}
 label{
     display:inline-block;
     margin-top:.8rem;
     margin-bottom:.5rem;
     letter-spacing:1px;
     color:#393753!important 
}
 button:focus{
     outline:1px dotted;
     outline:5px auto -webkit-focus-ring-color 
}
 input,button,select,optgroup,textarea{
     margin:0;
     font-family:inherit;
     font-size:inherit;
     line-height:inherit 
}
 button,input{
     overflow:visible 
}
 button,select{
     text-transform:none 
}
 button,html [type="button"],[type="reset"],[type="submit"]{
     -webkit-appearance:button 
}
 button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{
     padding:0;
     border-style:none 
}
 input[type="radio"],input[type="checkbox"]{
     box-sizing:border-box;
     padding:0 
}
 textarea{
     overflow:auto;
     resize:vertical 
}
 fieldset{
     min-width:0;
     padding:0;
     margin:0;
     border:0 
}
 legend{
     display:block;
     width:100%;
     max-width:100%;
     padding:0;
     margin-bottom:.5rem;
     font-size:1.5rem;
     line-height:inherit;
     color:inherit;
     white-space:normal 
}
 [type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{
     height:auto 
}
 [type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{
     -webkit-appearance:none 
}
 ::-webkit-file-upload-button{
     font:inherit;
     -webkit-appearance:button 
}
 output{
     display:inline-block 
}
 summary{
     display:list-item 
}
 template{
     display:none 
}
 .table{
     width:100%;
     max-width:100%;
     margin-bottom:1rem;
     background-color:transparent 
}
 .table th{
     padding:.75rem;
     vertical-align:top;
     border-top:1px solid #e9ecef 
}
 .table thead th{
     vertical-align:bottom;
     border-bottom:2px solid #e9ecef 
}
 .table-hover tbody tr:hover{
     background-color:rgba(0,0,0,0.075) 
}
 .fade{
     opacity:0;
     transition:opacity .15s linear 
}
 h1,h2,h3,h4,h5,h6{
     margin-bottom:.5rem;
     font-weight:500;
     line-height:1.1;
     color:inherit 
}
 h1{
     font-size:2.5rem 
}
 h2{
     font-size:2rem 
}
 h3{
     font-size:1.75rem 
}
 h5{
     font-size:1.25rem 
}
 h6{
     font-size:1rem 
}
 .display-3{
     font-size:4.5rem;
     font-weight:300;
     line-height:1.1 
}
 @media(max-width:350px){
     .display-3{
         font-size:3.5rem;
         font-weight:200;
         line-height:1.1 
    }
}
 hr{
     border:0;
     border-top:1px solid rgba(0,0,0,0.1) 
}
 small{
     font-size:80%;
     font-weight:normal 
}
 mark{
     padding:.2em;
     background-color:#fcf8e3 
}
 .d-inline{
     display:inline!important 
}
 .align-self-stretch{
     align-self:stretch!important 
}
 @supports(position:sticky){
     .sticky-top{
         position:sticky;
         top:0;
         z-index:1020 
    }
}
 .text-center{
     text-align:center!important 
}
 .text-muted{
     color:#868e96!important 
}
 .text-white{
     color:#fff!important 
}
 .text-erkab{
     color:#01d1be!important 
}
 body>*{
     background-size:cover;
     padding-top:72px 
}
 .dropdown-menu{
     background-color:#fff 
}

/* TO DO: LANDSCAPE SUPPORT */
/* iPhone 6 & below */
 #map {
     height: calc(100vh - 222px);
     margin-top: 52px;
     width: 100vw;
}
 @media (min-width: 320px) {
     #map {
         height: calc(100vh - 222px);
    }
}
 @media (min-width: 360px) {
     #map {
        /*height: calc(100vh - 225px);
        */
    }
}
 @media (min-width: 412px) {
     #map {
        /*height: calc(100vh - 235px);
        */
    }
}
 @media (min-width: 764px) {
     #map {
         height: calc(100vh - 222px);
    }
}
 @media (min-width: 1025px) {
     #map {
        /*height: calc(100vh - 235px);
        */
    }
}
 .map-request {
     display: none;
}
 @media (min-width: 576px) {
     .map-request {
         display: inline-block;
         border-radius: 8px;
         height: calc(100vh - 90px) !important;
         width: 100% !important;
         margin-right: auto;
    }
     .right-div {
         width: 66.66667% !important;
         position: fixed !important;
         top: 30px !important;
         right: 0 !important;
         bottom: 10px !important;
         display: inline-block;
    }
}
 #rideBtn{
     cursor:pointer;
     font-size:180%;
     text-align:center;
     position:fixed;
     bottom:15px;
     left:50%;
     transform:translateX(-50%);
     border-radius:15px 
}
 #loadingLbl{
     font-size:500%!important;
     color:rgba(255,255,255,1)!important;
     text-align:center!important;
     position:absolute!important;
     top:50%!important;
     left:50%!important;
     transform:translate(-50%,-50%)!important 
}
 #loginBtn,#erkabBtn{
     border-radius:8px;
     width:220px;
     font-family:"montserrat-regular",sans-serif;
     max-width:100% 
}
 .gender-btn{
     width:109px;
     max-width:100% 
}
 .sticky-div{
     position:sticky;
     position:-webkit-sticky;
     top:70px;
     padding-top:1px;
     z-index:1;
     background-color:white 
}
 .pref-btn{
     width:73.3333px;
     max-width:100% 
}
 .uppercase{
     text-transform:uppercase 
}
 .spaced-letters{
     letter-spacing:.08rem 
}
 .input-margin-auto{
     margin:auto 
}
 #saveBtn{
     font-family:"montserrat-regular",sans-serif;
     width:80% 
}
 #cancelBtn{
     width:20% 
}
 #editBtn{
     font-family:"montserrat-regular",sans-serif;
     width:220px;
     max-width:100% 
}
 #save-cancel-btn-group{
     width:220px 
}
 #confirmPassBtn{
     font-family:"montserrat-regular",sans-serif;
     width:80% 
}
 #cancelPassBtn{
     width:20%;
     border-radius:2px 
}
 #changePass-btn-group{
     width:220px 
}
 .main-title{
     letter-spacing:.2rem 
}
 @media(min-width:576px){
     .title-margin{
         margin-bottom:25px 
    }
}
 .footer{
     margin-top:50px;
     text-align:center 
}
 .nameFields{
     display:inline!important;
     width:110px!important 
}
 .edit-profile-col{
     background-color:#393853 
}
 .edit-profile-sticky-div{
     background-color:#393853 
}
 .edit-profile-hr{
     border-top:1px solid #d2d2d2 
}
 .readonly-input{
     background-color:rgba(255,255,255,0.02)!important;
     color:white!important;
     text-align:center!important 
}
 .latest-requests-ticker{
     white-space:nowrap!important 
}
 #changePassLink{
     color:#05e4e0;
     margin-top:10px 
}
 .close{
     float:right;
     font-size:21px;
     font-weight:bold;
     line-height:1;
     color:#000;
     text-shadow:0 1px 0 #fff;
     filter:alpha(opacity=20);
     opacity:.2 
}
 .close:hover,.close:focus{
     color:#000;
     text-decoration:none;
     cursor:pointer;
     filter:alpha(opacity=50);
     opacity:.5 
}
 button.close{
     -webkit-appearance:none;
     padding:0;
     cursor:pointer;
     background:transparent;
     border:0 
}
 .modal-open {
     overflow: hidden;
}
 .modal {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 1050;
     display: none;
     overflow: hidden;
     -webkit-overflow-scrolling: touch;
     outline: 0;
}
 .modal.fade .modal-dialog {
     -webkit-transition: -webkit-transform .3s ease-out;
     -o-transition: -o-transform .3s ease-out;
     transition: transform .3s ease-out;
     -webkit-transform: translate(0, -25%);
     -ms-transform: translate(0, -25%);
     -o-transform: translate(0, -25%);
     transform: translate(0, -25%);
}
 .modal.in .modal-dialog {
     -webkit-transform: translate(0, 0);
     -ms-transform: translate(0, 0);
     -o-transform: translate(0, 0);
     transform: translate(0, 0);
}
 .modal-open .modal {
     overflow-x: hidden;
     overflow-y: auto;
}
 .modal-dialog {
     position: relative;
     width: auto;
     margin: 10px;
}
 .modal-content {
     position: relative;
     background-color: #fff;
     -webkit-background-clip: padding-box;
     background-clip: padding-box;
     border: 1px solid #999;
     border: 1px solid rgba(0, 0, 0, .2);
     border-radius: 6px;
     outline: 0;
     -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
     box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
 .modal-backdrop {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 1040;
     background-color: #000;
}
 .modal-backdrop.fade {
     filter: alpha(opacity=0);
     opacity: 0;
}
 .modal-backdrop.in {
     filter: alpha(opacity=50);
     opacity: .5;
}
 .modal-header {
     padding: 15px;
     border-bottom: 1px solid #e5e5e5;
}
 .modal-header .close {
     margin-top: -2px;
}
 .modal-title {
     margin: 0;
     line-height: 1.42857143;
}
 .modal-body {
     position: relative;
     padding: 15px;
}
 .modal-footer {
     padding: 15px;
     text-align: right;
     border-top: 1px solid #e5e5e5;
}
 .modal-footer .btn + .btn {
     margin-bottom: 0;
     margin-left: 5px;
}
 .modal-footer .btn-group .btn + .btn {
     margin-left: -1px;
}
 .modal-footer .btn-block + .btn-block {
     margin-left: 0;
}
 .modal-scrollbar-measure {
     position: absolute;
     top: -9999px;
     width: 50px;
     height: 50px;
     overflow: scroll;
}
 @media (min-width: 768px) {
     .modal-dialog {
         width: 600px;
         margin: 30px auto;
    }
     .modal-content {
         -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
         box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
     .modal-sm {
         width: 300px;
    }
}
 @media (min-width: 992px) {
     .modal-lg {
         width: 900px;
    }
}
 .home{
     color:#fff!important;
     text-align:center!important;
     position:absolute!important;
     top:50%!important;
     left:50%!important;
     transform:translate(-50%,-50%)!important 
}
 .body-gradient{
     background:linear-gradient(#00a1c500,#05e4e09e) 
}
 #indexBtn{
     font-family:"montserrat-regular",sans-serif;
     text-align:center;
     width:200px;
     height:50px;
     max-width:100%;
     max-height:100%;
     border-radius:50px;
     padding-top:10px;
     margin:4px;
     font-size:20px 
}
 .btn-index{
     color:#fff!important;
     background-color:#393853;
     border-color:#02eeff 
}
 .btn-index:hover{
     color:#fff;
     background-color:#05e4e0;
     border-color:#393853 
}
 #myVideo{
     position:fixed;
     top:50%;
     left:50%;
     min-width:150%;
     min-height:150%;
     width:auto;
     height:auto;
     z-index:-100;
     -ms-transform:translateX(-50%) translateY(-50%);
     -moz-transform:translateX(-50%) translateY(-50%);
     -webkit-transform:translateX(-50%) translateY(-50%);
     transform:translateX(-50%) translateY(-50%);
     background:url(polina.jpg) no-repeat;
     background-size:cover 
}
 @media(width:1024px){
     #myVideo{
         min-width:400%;
         min-height:400% 
    }
}
 @media(max-width:800px){
     #myVideo{
         min-width:400%;
         min-height:400% 
    }
}