/* Erkab Stylesheet */


/* Web & Icon fonts :-
------------------------------------------*/
@import url("font-awesome/css/font-awesome.min.css");
@import url("micons/micons.css");
@import url("fonts.css");


/* Base style overrides :-
------------------------------------------*/

html {
    font-size: 10px;
}

body,
input,
button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    background-color: #ffffff;
    color: #393753;
}

body > * {
    padding-top: 72px;
}

h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
    font-family: "montserrat-regular", sans-serif;
    color: #393753;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

th,
td {
    padding: 1.5rem 3rem;
    text-align: center;
    border-bottom: 1px solid #E8E8E8;
}



/* Forms :-
------------------------------------------*/

input[type="email"],
input[type="number"],
input[type="text"],
input[type="tel"],
input[type="password"],
textarea,
select {
    display: block;
    padding: 1rem;
    border: 0;
    outline: none;
    color: #000000;
    height: 37.5px;
    width: 220px;
    font-size: 1.5rem;
    line-height: 3rem;
    max-width: 100%;
    background: #f7f7f7;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}



/* Header styles :-
------------------------------------------*/

#header {
    width: 100%;
    height: 72px;
    background-color: #00d0be;
    background: linear-gradient(#00a1c5, #05e4e0);
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 501;
    top: 0 !important;
    box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
}



/* Header logo :-
------------------------------------------*/

.header-logo {
    position: absolute;
    left: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 501;
}

.header-logo a {
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    width: 97px;
    height: 22px;
    background: url("../images/logo.png") no-repeat center;
    background-size: 97px 22px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}



/* Menu trigger :-
------------------------------------------*/

.header-menu-toggle {
    display: none;
    position: fixed;
    right: 32px;
    top: 15px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header-menu-toggle:hover,
.header-menu-toggle:focus {
    color: #FFFFFF;
}

.header-menu-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    margin-top: -1px;
    position: absolute;
    left: 9px;
    top: 50%;
    right: auto;
    bottom: auto;
    background-color: white;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.header-menu-toggle span::before,
.header-menu-toggle span::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header-menu-toggle span::before {
    top: -9px;
}

.header-menu-toggle span::after {
    bottom: -9px;
}

.header-menu-toggle.is-clicked span {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.header-menu-toggle.is-clicked span::before,
.header-menu-toggle.is-clicked span::after {
    background-color: white;
}

.header-menu-toggle.is-clicked span::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.header-menu-toggle.is-clicked span::after {
    bottom: 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}



/* Navigation :-
------------------------------------------*/

#header-nav-wrap {
    font-family: "montserrat-regular", sans-serif;
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 40px;
}

#header-nav-wrap .header-main-nav {
    display: inline-block;
    list-style: none;
    height: 72px;
    margin: 0 1rem 0 0;
}

#header-nav-wrap .header-main-nav li {
    display: inline-block;
    padding-left: 0;
    margin-right: 1.5rem;
}

#header-nav-wrap .header-main-nav li a {
    display: block;
    line-height: 72px;
}

#header-nav-wrap .header-main-nav li a,
#header-nav-wrap .header-main-nav li a:visited {
    color: rgba(255, 255, 255, 0.65);
}

#header-nav-wrap .header-main-nav li a:hover,
#header-nav-wrap .header-main-nav li a:focus {
    color: #ffffff;
}

#header-nav-wrap .header-main-nav li.current a {
    color: #ffffff;
}

#header-nav-wrap .cta {
    height: 3.6rem;
    line-height: calc(3.6rem - .6rem);
    padding: 0 1.5rem;
    font-family: "montserrat-regular", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: none;
    letter-spacing: normal;
    margin: 0;
}



/* Responsive header :-
------------------------------------------*/

@media only screen and (max-width: 1230px) {
    #header {
        max-width: none;
    }
}

@media only screen and (max-width: 768px) {
    .header-logo a {
        width: 88px;
        height: 20px;
        background-size: 88px 20px;
    }

    #header-nav-wrap {
        display: none;
        height: auto;
        width: 100%;
        right: auto;
        left: 0;
        background-color: #00d0be;
        background: linear-gradient(#00a1c5, #05e4e0);
        padding: 80px 40px 40px;
        box-shadow: 0px 1px 50px 0px rgb(0, 0, 0)
    }

    #header-nav-wrap .header-main-nav {
        display: block;
        height: auto;
        margin: 0 0 3rem 0;
        border-top: 1px solid rgba(255, 255, 255, 0.03);
    }

    #header-nav-wrap .header-main-nav li {
        display: block;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    }

    #header-nav-wrap .header-main-nav li a {
        padding: 18px 0;
        line-height: 18px;
    }

    #header-nav-wrap .cta {
        height: 42px;
        line-height: calc(42px - .6rem);
        padding: 0 30px;
    }

    .header-menu-toggle {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    #header-nav-wrap .cta {
        display: block;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 400px) {
    .header-menu-toggle {
        right: 24px;
    }
}

@media only screen and (min-width: 769px) {
    #header-nav-wrap {
        display: block !important;
    }
}



/* Common styles :-
------------------------------------------*/

.adjusted-margin {
    margin-bottom: 30px;
}

.erkab-title {
    color: #FFFFFF;
    font-size: 500%;
}

.erkab-title-sm {
    font-size: 350%;
}

@media (min-width: 576px) {
    .adjusted-margin {
        margin-bottom: 25px;
    }
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.letter-spacing {
    letter-spacing: 0.2rem;
}

.letter-spacing-sm {
    letter-spacing: 0.08rem;
}

.input-margin-auto {
    margin: auto;
}

.sticky-div {
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
    padding-top: 1px;
    z-index: 1;
    background-color: white
}

.padding-top-zero {
    padding-top: 0;
}

label {
    font-family: "montserrat-light", sans-serif !important;
    font-size: 1.4rem !important;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    color: #393753 !important;
    display: inline-block;
}

option .selected .disabled {
    font-weight: lighter;
}



/* Pre-loader :-
------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#00a1c5, #05e4e0);
    z-index: 800;
    height: 100%;
    width: 100%;
}

#loadingIcon {
    font-size: 500% !important;
    color: rgba(255, 255, 255, 1) !important;
    text-align: center !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}



/* Index page :-
------------------------------------------*/

.btn-index {
    font-family: "montserrat-regular", sans-serif;
    text-align: center;
    width: 200px;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
    padding-top: 10px;
    margin: 4px;
    font-size: 20px;
    color: #fff !important;
    background-color: #393853;
    border-color: #02eeff;
}

.btn-index:hover {
    color: #fff;
    background-color: #05e4e0;
    border-color: #393853;
}

.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 150%;
    min-height: 150%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

@media (width: 1024px) {
    .background-video {
        min-width: 400%;
        min-height: 400%;
    }
}

@media (max-width: 800px) {
    .background-video {
        min-width: 400%;
        min-height: 400%;
    }
}

.gradient-cover {
    background: linear-gradient(#00a1c500, #05e4e09e);
    height: inherit;
}

.positioned-index-elements {
    color: rgb(255, 255, 255) !important;
    text-align: center !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}



/* Login/Signup :-
------------------------------------------*/

.nameFields {
    display: inline !important;
    width: 110px !important;
}

#loginOrSignupBtn {
    width: 220px;
    max-width: 100%;
    border-radius: 15px;
}



/* Dashboard :-
------------------------------------------*/

#findARideBtn {
    cursor: hand;
    font-size: 180%;
    text-align: center;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

.latest-requests-ticker {
    white-space: nowrap !important;
}



/* Request page :-
------------------------------------------*/
.selectpicker, #input_date, #input_time {
    font-size: 1em;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: lighter;
    border-radius: 15px;
}



/* Profile page :-
------------------------------------------*/

.stats-lbl {
    font-style: normal;
    letter-spacing: 0.4rem;
    font-family: "muli-regular", sans-serif !important;
}

#changePassLink {
    color: #05e4e0;
    letter-spacing: .2rem;
    margin-top: 10px;
}

.edit-profile-col {
    background-color: #393853;
}

.edit-profile-sticky-div {
    background-color: #393853;
}

.edit-profile-label {
    color: #FFFFFF;
}

.edit-profile-hr {
    border-top: 1px solid rgb(210, 210, 210);
}

.readonly-input {
    background-color: rgba(255, 255, 255, 0.02) !important;
    color: white !important;
    text-align: center !important;
}



/* Map :-
------------------------------------------*/

#map {
    height: calc(100vh - 222px);
    width: 100vw;
}

@media (min-width: 320px) {
    #map {
        height: calc(100vh - 222px);
    }
}

@media (min-width: 764px) {
    #map {
        height: calc(100vh - 222px);
    }
}

.map-request {
    display: none;
}

@media (min-width: 576px) {
    .map-request {
        display: inline-block;
        border-radius: 8px;
        height: calc(100vh - 90px) !important;
        width: 100% !important;
        margin-right: auto;
    }

    .right-div {
        width: 66.66667% !important;
        position: fixed !important;
        top: 80px !important;
        right: 0 !important;
        bottom: 10px !important;
        display: inline-block;
    }
}



/* Custom buttons :-
------------------------------------------*/

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.8rem;
    height: 4rem;
    line-height: calc(5.4rem - .6rem);
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button.button-primary {
    background-color: #393753;
    color: #FFFFFF;
    border-radius: 15px;
    border: 2px solid;
    border-color: #3a394d;

}

.button.button-primary:hover,.button.button-primary:focus {
    background: #2a2841;
    border-color: #3c3a54;
}

.btn-main {
    color: #fff !important;
    background-color: #03dedd;
    border-color: #00cdbb;
}

.btn-main:hover {
    color: #fff;
    background-color: #03bfbe;
    border-color: #03aead;
}

.btn-main:focus, .btn-main.focus {
    box-shadow: 0 0 0 3px rgba(1, 209, 190, 0.5);
}

.btn-main:disabled, .btn-main.disabled {
    background-color: #00d0be;
    border-color: #00cdbb;
}

.btn-main:active, .btn-main.active {
    background-color: #03bfbe;
    background-image: none;
    border-color: #009686;
}



/* Other Buttons :-
------------------------------------------*/

.gender-btn {
    width: 109px;
    max-width: 100%;
}

.pref-btn {
    width: 73.3333px;
    max-width: 100%;
}

#goBtn {
    width: 220px;
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 2%;
}

#editBtn {
    width: 220px;
    max-width: 100%;
}

#cancelBtn, #cancelPassBtn {
    width: 20%;
    border-radius: 0px 15px 15px 0px;
}

#saveBtn, #confirmPassBtn {
    width: 80%;
}

#save-cancel-btn-group {
    width: 220px;
}

#changePass-btn-group {
    width: 220px;
}

#erkabBtn, #loginOrSignupBtn, #saveBtn, #editBtn, #confirmPassBtn {
    font-family: "montserrat-regular", sans-serif;
    cursor: hand;
}