/* ===================================================================
 *  01. webfonts and iconfonts - (_document-setup)
 *
 * ------------------------------------------------------------------- */
@import url("font-awesome/css/font-awesome.min.css");
@import url("micons/micons.css");
@import url("fonts.css");

/* ===================================================================
 *  02. base style overrides - (_document-setup)
 *
 * ------------------------------------------------------------------- */

html {
    font-size: 10px;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 9.375px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 9.375px;
    }
}

html,
body {
    height: 100%;
}

body {
    background: #141515;
    font-family: "muli-regular", sans-serif;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #767676;
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------------------------
 * links - (_document-setup) 
 * ------------------------------------------------------------------- */

a,
a:visited {
    color: white;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: white;
}

/* ===================================================================
 *  03. typography & general theme styles - (_document-setup.scss) 
 *
 * ------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
    font-family: "montserrat-regular", sans-serif;
    color: #000;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-bottom: 2.4rem;
}

h3, .h03, h4, .h04 {
    margin-bottom: 1.5rem;
}

h5, .h05, h6, .h06 {
    margin-bottom: 1.2rem;
}

h1, .h01 {
    font-size: 3.1rem;
    line-height: 1.35;
    letter-spacing: -.1rem;
}

@media only screen and (max-width: 600px) {
    h1,
    .h01 {
        font-size: 2.6rem;
        letter-spacing: -.07rem;
    }
}

h2, .h02 {
    font-size: 2.4rem;
    line-height: 1.25;
}

h3, .h03 {
    font-size: 2rem;
    line-height: 1.5;
}

h4, .h04 {
    font-size: 1.7rem;
    line-height: 1.76;
}

h5, .h05 {
    font-size: 1.4rem;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

h6, .h06 {
    font-size: 1.3rem;
    line-height: 1.85;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

p img {
    margin: 0;
}

p.lead {
    font-family: "muli-light", sans-serif;
    font-size: 2.1rem;
    line-height: 1.857;
    color: #838383;
    margin-bottom: 3.6rem;
}

@media only screen and (max-width: 768px) {
    p.lead {
        font-size: 2rem;
    }
}

em, i, strong, b {
    font-size: 1.6rem;
    line-height: 1.875;
    font-style: normal;
    font-weight: normal;
}

small {
    font-size: 1.1rem;
    line-height: inherit;
}

abbr {
    font-family: "muli-bold", sans-serif;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: .05rem;
    color: #838383;
}

var, kbd, samp, code, pre {
    font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
    padding: 2.4rem 3rem 3rem;
    background: #F1F1F1;
}

code {
    font-size: 1.4rem;
    margin: 0 .2rem;
    padding: .3rem .6rem;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 3px;
}

pre > code {
    display: block;
    white-space: pre;
    line-height: 2;
    padding: 0;
    margin: 0;
}

pre.prettyprint > code {
    border: none;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
    text-decoration: none;
}

mark {
    background: #FFF49B;
    color: #000;
}

hr {
    border: solid rgba(0, 0, 0, 0.1);
    border-width: 1px 0 0;
    clear: both;
    margin: 1rem 0 1rem;
    height: 0;
}

/* -------------------------------------------------------------------
 * Lists - (_document-setup.scss)  
 * ------------------------------------------------------------------- */

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    display: list-item;
}

ol,
ul {
    margin-left: 1.7rem;
}

ul li {
    padding-left: .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: .6rem 0 .6rem 1.7rem;
}

ul.disc li {
    display: list-item;
    list-style: none;
    padding: 0 0 0 .8rem;
    position: relative;
}

ul.disc li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #39b54a;
    position: absolute;
    left: -17px;
    top: 11px;
    vertical-align: middle;
}

dt {
    margin: 0;
    color: #39b54a;
}

dd {
    margin: 0 0 0 2rem;
}

/* -------------------------------------------------------------------
 * Spacing - (_document-setup)  
 * ------------------------------------------------------------------- */

button,
.button {
    margin-bottom: 1.2rem;
}

fieldset {
    margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.ss-custom-select {
    margin-bottom: 3rem;
}

/* -------------------------------------------------------------------
 * floated image - (_document-setup)  
 * ------------------------------------------------------------------- */

img.pull-right {
    margin: 1.5rem 0 0 3rem;
}

img.pull-left {
    margin: 1.5rem 3rem 0 0;
}

/* -------------------------------------------------------------------
 * block grids paddings
 * ------------------------------------------------------------------- */

.bgrid {
    padding: 0 20px;
}

@media only screen and (max-width: 1024px) {
    .bgrid {
        padding: 0 18px;
    }
}

@media only screen and (max-width: 768px) {
    .bgrid {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 600px) {
    .bgrid {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 400px) {
    .bgrid {
        padding: 0;
    }
}

/* -------------------------------------------------------------------
 * tables - (_document-setup.scss)  
 * ------------------------------------------------------------------- */

table {
    border-width: 0;
    width: 100%;
    max-width: 100%;
    font-family: "muli-regular", sans-serif;
}

th,
td {
    padding: 1.5rem 3rem;
    text-align: left;
    border-bottom: 1px solid #E8E8E8;
}

th {
    color: #151515;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

td {
    line-height: 1.5;
    font-size: 1.4rem;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* -------------------------------------------------------------------
 * pace.js styles - center simple  - (_document-setup.scss)
 * ------------------------------------------------------------------- */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    width: 150px;
    background: #dedede;
    overflow: hidden;
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 150px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: #39b54a;
}

.pace.pace-inactive {
    display: none;
}

.oldie .pace {
    display: none;
}

/* ===================================================================
 *  04. preloader - (_preloader-blank.scss)
 *
 * ------------------------------------------------------------------- */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #393753;
    z-index: 800;
    height: 100%;
    width: 100%;
}

.no-js #preloader,
.oldie #preloader {
    display: none;
}

/* ===================================================================
 *  05. forms - (_forms.scss)
 *
 * ------------------------------------------------------------------- */

fieldset {
    border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    display: block;
    /*padding: 1.5rem 2rem;*/
    padding: 1rem;
    border: 0;
    outline: none;
    color: #000000;
    height: 37.5px;
    width:  220px;
    font-family: "muli-regular", sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    max-width: 100%;
    background: #f7f7f7;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.ss-custom-select {
    position: relative;
    padding: 0;
}

.ss-custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    margin: 0;
    line-height: 3rem;
    vertical-align: middle;
}

.ss-custom-select select option {
    padding-left: 2rem;
    padding-right: 2rem;
}

.ss-custom-select select::-ms-expand {
    display: none;
}

.ss-custom-select::after {
    content: '\f0d7';
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    right: 1.5rem;
    margin-top: -10px;
    bottom: auto;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    text-align: center;
    pointer-events: none;
    color: #252525;
}

/* IE9 and below */

.oldie .ss-custom-select::after {
    display: none;
}

textarea {
    min-height: 25rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    color: #000000;
}

label,
legend {
    font-family: "montserrat-light", sans-serif;
    font-size: 1.4rem;
    margin-bottom: .6rem;
    color: #151515;
    display: block;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label > .label-text {
    display: inline-block;
    margin-left: 1rem;
    font-family: "montserrat-regular", sans-serif;
    line-height: inherit;
}

label > input[type="checkbox"],
label > input[type="radio"] {
    margin: 0;
    position: relative;
    top: .15rem;
}

/* -------------------------------------------------------------------
 * Style Placeholder Text - (_forms.scss)
 * ------------------------------------------------------------------- */

::-webkit-input-placeholder {
    color: #838383;
}

:-moz-placeholder {
    color: #838383;
    /* Firefox 18- */
}

::-moz-placeholder {
    color: #838383;
    /* Firefox 19+ */
}

:-ms-input-placeholder {
    color: #838383;
}

.placeholder {
    color: #838383 !important;
}

/* -------------------------------------------------------------------
 * Change Autocomplete styles in Chrome - (_forms.scss)
 * ------------------------------------------------------------------- */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: #57ca67;
    transition: background-color 5000s ease-in-out 0s;
}

/* ===================================================================
 *  06. buttons - (_button-essentials.scss)
 *
 * ------------------------------------------------------------------- */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.8rem;
    height: 4rem;
    line-height: calc(5.4rem - .6rem);
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    color: #222222;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: .5rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #c5c5c5;
    border: .3rem solid #c5c5c5;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    background-color: #b8b8b8;
    border-color: #b8b8b8;
    color: #000000;
    outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    background-color: #393753;
    border-color: #4e4c6d;
    color: #FFFFFF;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    background: #2a2841;
    border-color: #3c3a54;
}

button.full-width,
.button.full-width {
    width: 100%;
    margin-right: 0;
}

button.medium,
.button.medium {
    height: 5.7rem !important;
    line-height: calc(5.7rem - .6rem) !important;
}

button.large,
.button.large {
    height: 6rem !important;
    line-height: calc(6rem - .6rem) !important;
}

button.stroke,
.button.stroke {
    background: transparent !important;
    color: #a5a5a5 !important;
}

button.stroke:hover,
.button.stroke:hover {
    border: 0.3rem solid #39b54a;
    color: #39b54a;
}

button.pill,
.button.pill {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    border-radius: 1000px;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ===================================================================
 *  07. other components - (_others.scss)
 *
 * ------------------------------------------------------------------- */

/* -------------------------------------------------------------------
 * alert box - (_alert-box.scss)
 * ------------------------------------------------------------------- */

.alert-box {
    padding: 2.1rem 4rem 2.1rem 3rem;
    position: relative;
    margin-bottom: 3rem;
    border-radius: 3px;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.5rem;
}

.alert-box .close {
    position: absolute;
    right: 1.8rem;
    top: 1.8rem;
    cursor: pointer;
}

.ss-error {
    background-color: #ffd1d2;
    color: #e65153;
}

.ss-success {
    background-color: #c8e675;
    color: #758c36;
}

.ss-info {
    background-color: #d7ecfb;
    color: #4a95cc;
}

.ss-notice {
    background-color: #fff099;
    color: #bba31b;
}

/* -------------------------------------------------------------------
 * additional typo styles - (_additional-typo.scss)
 * ------------------------------------------------------------------- */

/* drop cap
 * ----------------------------------------------- */

.drop-cap:first-letter {
    float: left;
    margin: 0;
    padding: 1.5rem .6rem 0 0;
    font-size: 8.4rem;
    font-family: "montserrat-bold", sans-serif;
    line-height: 6rem;
    text-indent: 0;
    background: transparent;
    color: #151515;
}

/* line definition style
 * ----------------------------------------------- */

.lining dt,
.lining dd {
    display: inline;
    margin: 0;
}

.lining dt + dt:before,
.lining dd + dt:before {
    content: "\A";
    white-space: pre;
}

.lining dd + dd:before {
    content: ", ";
}

.lining dd + dd:before {
    content: ", ";
}

.lining dd:before {
    content: ": ";
    margin-left: -0.2em;
}

/* dictionary definition style
 * ----------------------------------------------- */

.dictionary-style dt {
    display: inline;
    counter-reset: definitions;
}

.dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2em;
}

.dictionary-style dd {
    display: block;
    counter-increment: definitions;
}

.dictionary-style dd:before {
    content: counter(definitions, decimal) ". ";
}

/**
 * Pull Quotes
 * -----------
 * markup:
 *
 * <aside class="pull-quote">
 *		<blockquote>
 *			<p></p>
 *		</blockquote>
 *	</aside>
 *
 * --------------------------------------------------------------------- */

.pull-quote {
    position: relative;
    padding: 2.1rem 3rem 2.1rem 0px;
}

.pull-quote:before,
.pull-quote:after {
    height: 1em;
    position: absolute;
    font-size: 10rem;
    font-family: Arial, Sans-Serif;
    color: rgba(0, 0, 0, 0.3);
}

.pull-quote:before {
    content: "\201C";
    top: -3.6rem;
    left: 0;
}

.pull-quote:after {
    content: '\201D';
    bottom: 3.6rem;
    right: 0;
}

.pull-quote blockquote {
    margin: 0;
}

.pull-quote blockquote:before {
    content: none;
}

/* ===================================================================
 *  08. common and reusable theme styles 
 *
 * ------------------------------------------------------------------- */

h1.intro-header {
    font-family: "montserrat-regular", sans-serif;
    font-size: 3.4rem;
    line-height: 1.324;
    color: #151515;
    position: relative;
    padding-bottom: 3.6rem;
}

h1.intro-header::before {
    display: block;
    content: "";
    height: 2px;
    width: 70px;
    background-color: #39b54a;
    position: absolute;
    left: 0;
    bottom: 0;
}

.wide {
    max-width: 1300px;
}

.narrow {
    max-width: 800px;
}

/* -------------------------------------------------------------------
 * responsive:
 * common styles
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
    h1.intro-header {
        font-size: 3.1rem;
    }
}

@media only screen and (max-width: 600px) {
    h1.intro-header {
        font-size: 2.6rem;
    }
}

/* ===================================================================
 *  09. header styles - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

#header {
    width: 100%;
    height: 72px;
    background-color: #00d0be;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 501;
    top: 0 !important;
}

/* -------------------------------------------------------------------
 * header logo - (_site-layout.css) 
 * ------------------------------------------------------------------- */

.header-logo {
    position: absolute;
    left: 40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 501;
}

.header-logo a {
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    width: 97px;
    height: 22px;
    background: url("../images/logo.png") no-repeat center;
    background-size: 97px 22px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* -------------------------------------------------------------------
 * menu trigger - (_site-layout.css) 
 * ------------------------------------------------------------------- */

.header-menu-toggle {
    display: none;
    position: fixed;
    right: 32px;
    top: 15px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header-menu-toggle:hover,
.header-menu-toggle:focus {
    color: #FFFFFF;
}

.header-menu-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    margin-top: -1px;
    position: absolute;
    left: 9px;
    top: 50%;
    right: auto;
    bottom: auto;
    background-color: white;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.header-menu-toggle span::before,
.header-menu-toggle span::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header-menu-toggle span::before {
    top: -9px;
}

.header-menu-toggle span::after {
    bottom: -9px;
}

.header-menu-toggle.is-clicked span {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.header-menu-toggle.is-clicked span::before,
.header-menu-toggle.is-clicked span::after {
    background-color: white;
}

.header-menu-toggle.is-clicked span::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.header-menu-toggle.is-clicked span::after {
    bottom: 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

/* -------------------------------------------------------------------
 * navigation - (_layout.scss) 
 * ------------------------------------------------------------------- */

#header-nav-wrap {
    font-family: "montserrat-regular", sans-serif;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 40px;
}

#header-nav-wrap .header-main-nav {
    display: inline-block;
    list-style: none;
    height: 72px;
    margin: 0 1rem 0 0;
}

#header-nav-wrap .header-main-nav li {
    display: inline-block;
    padding-left: 0;
    margin-right: 1.5rem;
}

#header-nav-wrap .header-main-nav li a {
    display: block;
    line-height: 72px;
}

#header-nav-wrap .header-main-nav li a,
#header-nav-wrap .header-main-nav li a:visited {
    color: rgba(255, 255, 255, 0.65);
}

#header-nav-wrap .header-main-nav li a:hover,
#header-nav-wrap .header-main-nav li a:focus {
    color: #ffffff;
}

#header-nav-wrap .header-main-nav li.current a {
    color: #ffffff;
}

#header-nav-wrap .cta {
    height: 3.6rem;
    line-height: calc(3.6rem - .6rem);
    padding: 0 1.5rem;
    font-family: "montserrat-medium", sans-serif;
    font-size: 14px;
    text-transform: none;
    letter-spacing: normal;
    margin: 0;
}

/* -------------------------------------------------------------------
 * responsive:
 * header
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1230px) {
    #header {
        max-width: none;
    }
}

@media only screen and (max-width: 768px) {
    .header-logo a {
        width: 88px;
        height: 20px;
        background-size: 88px 20px;
    }

    #header-nav-wrap {
        display: none;
        height: auto;
        width: 100%;
        right: auto;
        left: 0;
        background-color: #00d0be;
        padding: 80px 40px 40px;
    }

    #header-nav-wrap .header-main-nav {
        display: block;
        height: auto;
        margin: 0 0 4.2rem 0;
        border-top: 1px solid rgba(255, 255, 255, 0.03);
    }

    #header-nav-wrap .header-main-nav li {
        display: block;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    }

    #header-nav-wrap .header-main-nav li a {
        padding: 18px 0;
        line-height: 18px;
    }

    #header-nav-wrap .cta {
        height: 42px;
        line-height: calc(42px - .6rem);
        padding: 0 30px;
    }

    .header-menu-toggle {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    #header-nav-wrap .cta {
        display: block;
        padding: 0 20px;
    }
}

@media only screen and (max-width: 400px) {
    .header-menu-toggle {
        right: 24px;
    }
}

/* -------------------------------------------------------------------
 * make sure the menu is visible on larger screens
 * ------------------------------------------------------------------- */

@media only screen and (min-width: 769px) {
    #header-nav-wrap {
        display: block !important;
    }
}