<!-- views/dashboard.ejs -->
<!DOCTYPE html>
<!--[if lt IE 9 ]>
<html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    <title>Erkab</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/erkab.css">

    <!-- script
   ================================================== -->
    <script src="/public/js/modernizr.js"></script>

    <!-- favicons
	================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top" style="width: 100%">

<!-- header
================================================== -->
<% include templates/header.ejs%>

<!-- START OF CHANGEABLE VIEW -->
<div id="changeableView">
    <div class="container text-black bg-white">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center text-black" style="margin-top: 1rem">Welcome back, <%= user.firstName %>.</h4>
                <p class="text-center display-4"><i><span
                                style="font-style: normal;">Y O U R &nbsp; S T A T S</span></i>
                </p>
            </div>
        </div>
        <div class="row w-100 text-center mx-auto">
            <div class="col-md-4 text-center col-4 col-sm-4 col-lg-4 col-xl-4 align-self-stretch">
                <h1 id="stats" class="text-center display-3 counter" data-count="259">0</h1>
                <h4 class="text-center text-erkab"><i class="fa fa-usd"></i><span class="badge">SAVED</span></h4>
            </div>
            <div class="col-md-4 text-center col-4 col-sm-4 col-lg-4 col-xl-4 align-self-stretch">
                <h1 id="stats" class="text-center display-3 counter" data-count="11">0</h1>
                <h4 class="text-center text-erkab"><i class="fa fa-car"></i><span class="badge">RIDES</span></h4>
            </div>
            <div class="col-md-4 text-center col-sm-4 col-4 align-self-stretch col-lg-4 col-xl-4">
                <h1 id="stats" class="text-center display-3 counter" data-count="142">0</h1>
                <h4 class="text-center text-erkab"><i class="fa fa-exchange"></i><span class="badge">KM</span>
                </h4>
            </div>
        </div>
    </div>
    <div id="map"></div>
    <div id="rideDiv">
        <a id="rideBtn" class="btn btn-lg btn-edited" href="/request"><i class="fa fa-fw fa-search"></i><span
                    class="badge">FIND A RIDE</span></a>
    </div>
</div>
<!-- END OF CHANGEABLE VIEW -->

<% include templates/preloader.ejs %>

<!-- Java Script
================================================== -->
<script src="/public/js/jquery-2.1.3.min.js"></script>
<script src="/public/js/main.js"></script>
<script src="/public/js/counter.js"></script>
<script src="/public/js/mapUtils.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACM-rbXIzhMtNX4ax1u7d-m70pQNDgVa4&callback=initMap">
</script>

</body>
</html>