<!-- views/index.ejs -->
<!doctype html>
<html>
<head>

    <!--- basic page needs --->
    <meta charset="utf-8">
    <title>Erkab</title>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <!-- CSS --->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/erkab.min.css">

    <!-- favicons --->
    <link rel="icon" type="image/png" href="/public/images/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/public/images/favicon-16x16.png" sizes="16x16"/>

</head>
<body>

<div class="container padding-top-zero">
    <video playsinline autoplay muted loop class="background-video">
        <source src="/public/videos/cars.mp4" type="video/mp4">
    </video>
    <div class="positioned-index-elements uppercase">
        <h1 class="text-center erkab-title adjusted-margin letter-spacing"><i class="fa fa-car"></i> Erkab</h1>
        <a href="/login" id="indexBtn" class="btn btn-index"><span class="fa fa-sign-in"></span> Login</a>
        <a href="/signup" id="indexBtn" class="btn btn-index">Sign up</a>
    </div>

</div>
<div class="container-fluid gradient-cover"></div>

</body>
</html>